.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-left .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
