.sidebar {
  position: fixed;
  top: 70px;
  left: 0;

  width: 240px;
  height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #f8f9fa;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 12px 0;
  cursor: pointer;
}

.logout-button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
