.app-container {
  display: flex;
  padding-top: 70px;
}

.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.main-content.logged-out {
  margin-left: 0;
  width: 100%;
  min-height: 100vh;
}
