.app-container {
  display: flex;
  /* margin-top: 70px;  */
}

.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  padding: 20px;
  box-sizing: border-box;
}
